.root {
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.demo {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-around;
}
.demoBox {
  width: 800px;
  height: 600px;
  margin: 20px 0;
}
.brandIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 30px;
  margin: 0 20px;
  cursor: pointer;
  transition: all ease 200ms;
  color: black;
}
.icon:hover {
  transform: translateY(-5px);
}
.npm {
  color: #c53635;
}
a {
  color: inherit !important;
  background: unset;
  text-decoration: none;
}
